body {
  background-color: yellow;
}
header {
  color: rgb(253, 247, 247);
  height: 90px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
}

footer {
  background-color: brown;
}

div {
  background-color: blue;
}
p {
  background-color: aquamarine;
}

.jauneclair {
  background-color: rgb(201, 186, 166);
}
#batman {
  background-color: black;
}
.superman {
  background-color: rgb(0, 174, 255);
}
#supergirl {
  background-color: rgb(255, 192, 231);
}
